@tailwind base;
@tailwind components;
@tailwind utilities;

.custome-imge {
    background-image: url(../images/a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  :root {
    --gold: linear-gradient(90deg, rgba(135,109,11,1) 0%, rgba(255,234,156,0.927608543417367) 48%, rgba(217,173,13,1) 100%);
  }