*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */

  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,

optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/




/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

.cursor-pointer {
  cursor: pointer;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.text-center {
  text-align: center;
}

.text-wheat,
.fa-solid {
  color: wheat;
}

.text-white {
  color: white;
}

.flex {
  display: flex;
}

.font-bold {
  font-weight: bold;

}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-bold {
  font-weight: 700;
}

.underline {
  text-decoration-line: underline;
}

.custome-imge {
  background-image: url(../images/a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logincontainer {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(230, 191, 120);
  padding: 10px;
  width: 400px;
  height: 550px;
  border-radius: 10px;
  height: 70%;
}

:root {
  --gold: linear-gradient(90deg, rgba(135, 109, 11, 1) 0%, rgba(255, 234, 156, 0.927608543417367) 48%, rgba(217, 173, 13, 1) 100%);
}

input {
  position: fixed;
  left: 40%;
  top: 25px;
  width: 270px;
  padding: 10px;
  
  border-radius: 4px;
  border: 1px solid wheat;
  background-color: transparent;
  color: wheat;
  padding-left: 2%;
}

input::placeholder {
  color: wheat;

}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #101a30 inset !important;
  -webkit-text-fill-color: wheat !important;
}

.login-btn {
  background: var(--gold);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background: var(--gold);
  font-weight: bold;
  color: rgb(23, 31, 53);
}

.login-btn:hover {
  transform: scale(0.99);
}

.login-header {
  text-align: left;
  color: wheat;
  font-size: 1.5rem;
  font-weight: bold;
}

.fas {
  color: rgb(191, 192, 185);
  margin-left: 15px;
  margin-top: 10%;
}

.notif {
  background: var(--gold);
  color: #3d2a2a;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgb(100, 105, 52);
  font-size: 1rem;
  top: 88%;
  left: 20;
  border-left: 5px solid #ff0000;
  position: absolute;
  display: fixed;
  text-align: center;

}

.notif {
  animation-duration: 1s;

}

.notif.show {
  animation-name: slideIn;

}

.notif p {
  margin: 0;
}

.err {
  background-color: #ec2f21;
  color: white;
  padding: 7px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

body {
  font-family:'Times New Roman', Times, serif;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 425px) and (min-width: 320px) {
  .logincontainer {
    width: 90%;
    height: 70%;
  }


}

.fa-cart-plus {
  position: fixed;
  top: 30px;
  right: 45px;
  font-size: 1.6rem;
}

.fa-cart-plus:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.fa-bars {
  position: fixed;
  font-size: 1.5rem;
  top: 30px;
  left: 50px;

}

.fa-bars:hover {

  cursor: pointer;
}

.mangastyle {

  justify-content: space-between;
  padding: 10px;
  border: 6px solid wheat;
  border-image: url(./images/goldborder.jpg);
  border-image-slice: 30;
  margin-left: 1%;
  margin-top: 100px;
  margin-bottom: -60px;
  text-align: center;
}

.cartstyle {
 display: flex;
  padding: 10px;
  border: 6px solid wheat;
  border-image: url(./images/goldborder.jpg);
  border-image-slice: 30;
 
  margin-top: 100px;
  margin-bottom: -60px;
}


.manga-img {
  border: 2px solid wheat;
  border-image: url(./images/goldborder.jpg);
  border-image-slice: 30;
  width: 90%;
  margin-left: 10px;
  height: auto;
 
}


.cartItem-img {
  border: 2px solid wheat;
  border-image: url(./images/goldborder.jpg);
  border-image-slice: 30;
  width: 150px;
  margin-left: 10px;
  
}

.cartItem-title {
  color: #d10e0e;
  font-size: 1.2rem;
  margin: 10px 0;

}

.cartItem-synopsis {

  color: #d3d3d3;
  font-size: 1rem;
  margin: 10px 0;
  text-align: justify;
} 

.cartItem-info{
 display: inline;
  justify-content: space-between;
  align-items: left;
 
}


.manga-title {
  color: wheat;
  font-size: 1.2rem;
  margin: 10px;
  text-align: center;
}


.manga-synopsis {
  color: #d3d3d3;
  font-size: 1rem;
  margin: 10px;

  text-align: justify;
}

.add-to-cart {
  background-image:  url(./images/goldborder.jpg);
  color: rgba(0, 0, 0, 0.712);
  border: none;
  font-weight: 700;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: calc(100% - 20px);
  text-align: center;
  
}


.add-to-cart:hover {
  transform: scale(0.99);
}

.bg-black {
  position: fixed;
  background-color: #040d1f7e;
  width: 100%;
  height: 13%;
}

.fa-magnifying-glass{
  position: fixed;
  top: -100px;
  left: 57%;
  color: wheat;
  opacity: 0.7;
}



.manga-container { display: flex;
   display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.text-red-600 {
  color: red;
}

.manga {
  background-color: #1e1e1e65;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manga:hover {
  transform: translateY(-10px);
}

@media (max-width: 1440px) {
  .cartstyle {
    
    margin-left: 5%;
  margin-right: 60%;
  }

  
}

@media (max-width: 425px) {
 
  .cartstyle {
    margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  }

  .cartItem-img {
    width: 150px;
    height: 190px;
    margin-left: 0px;
  }


}

@media (max-width: 768px) {
  .cartstyle {
    
    margin-left: 5%;
  margin-right: 40%;
  }
  
}



#total-p {
  position: fixed;
  top: 60px;
  left: 54%;
  transform: translateX(-50%);
  width: 289px;
  margin-top: 10px;
  font-size: 1.5rem;
  color: wheat;
}


.remove-cart{
  background-color: #ec2f2159;
  color: white;
  padding: 7px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 100px;
  margin-left: 240px;
  cursor: pointer;
  position: relative;
}

.remove-cart:hover {
  transform: scale(1.1);
}

#number-itemsPack{
  position: fixed;

  top: 42px;
  right: 30px;
  font-size: 1rem;

   color: rgb(255, 255, 255);
  background-color: #a81308;
  padding-left: 8px;

  padding-right:8px;
 border-radius: 30px;
  border: 0.5px solid #ffffff41;
  z-index: 2;
}

.fa-arrow-left:hover {
  transform: scale(1.1);

  cursor: pointer;
  background-color: #776e6e4d;
  border-radius: 50%;
  padding: 5px;
}

.logout{
  border-image: url(./images/goldborder.jpg);
  border-image-slice: 80;
  border-width:  1px ;
  position: fixed;
  top: 70;
  background-color: #101a30;
  left: 50;
  font-size: 1.2rem;
  color: wheat;
 padding-right: 35px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 140px;
  animation-duration: 1s;
  animation-name: In;

  }

#logoutLi:hover{
   transform: scale(1.1);
}

.fa-arrow-right-from-bracket{
  color: wheat;
  margin-top: 5%;
  margin-right: 15%;
  
}


@keyframes In {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  } 
}
.notif {
  background: var(--gold);
  color: #3d2a2a;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgb(100, 105, 52);
  font-size: 1rem;
  top: 88%;
  left: 20;
  border-left: 5px solid #009e0d;
  position: fixed;

  text-align: center;
}

.notif {
  animation-duration: 1s;

}

.notif.show {
  animation-name: slideIn;

}



.notif p {
  margin: 0;
}

.success {
  background-color: #378602;
  color: white;
  padding: 7px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
  margin-right: 10px;
}


.loading {
  display: none;
  position:fixed;
  top:50%;
    left: 45%;  
   border-image: url(./images/goldborder.jpg);
  border-image-slice: 80;
  border-width:  1px ;
  background-color: #101a30;
  
  font-size: 1.2rem;
  color: wheat;
 padding: 20px;
  border-radius: 5px;
 
}

.cart-tit{
  position: fixed;
  top: 20;
  left: 90;
  font-size: 1.9rem;
  color: rgb(247, 194, 97);
}

.fa-arrow-left{
  position: fixed;
  top: 30;
  left: 50;
  font-size: 1.5rem;
  color: wheat;
  
}


#menuDiv {
  display: none;
  position: fixed;
  font-size: 1.5rem;
  top: 30px;
  
}

.welcomee{
  border-image: url(./images/goldborder.jpg);
  border-image-slice: 80;
  border-width:  0.5px ;
  border-left-width: 11px;
  border-right-width: 11px;
  position: fixed;

  top: 25;
  background-color: #101a30;
  left: 38.5%;
  font-size: 1.2rem;
  color: wheat;
 padding-right: 35px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 330px;
  animation-duration: 1s;
  animation-name: In; 
}

.fa-face-laugh-wink{
  color: rgb(231, 182, 91);
  padding-left: 5px;
}

.content-manga{
  
}